/* From 3d viewer source */
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Mantine overrides */
:root {
  --mantine-color-body: var(--tg-theme-secondary-bg-color) !important;
  --mantine-color-text: var(--tg-theme-text-color) !important;
}
