.wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.logo {
  margin-right: 8px;
}

.name {
  flex-grow: 1;
}
.channelButton {
  padding-inline: 12px;
  border-radius: 8px;
  text-transform: lowercase;
}
