.triangle {
  position: relative;
  width: 24px;
  height: 24px;
}

.point {
  position: absolute;
  font-size: 13px;
  transition: opacity 0.2s;
  color: inherit;
  font-weight: normal;
  line-height: 1;
}

.point.top {
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.point.bottom-right {
  bottom: 0;
  right: 0;
}

.point.bottom-left {
  bottom: 0;
  left: 0;
}
